* {
  margin: 0;
  padding: 0;
}
body {
 padding: 5px;
  background: gray;
}

.layout-content {

  height: 100%;
  width: 25%;
    margin-top: 15px;
    padding: 20px;
    background: url('../assets/three.jpg') center;
}
.footer-box {
  clear: both;
  background-color: #484545;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}




/**
 * Content CSS
 */
@media (min-width: 768px) {

}